<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Buzzik</a>
    </div>

    <% if (req.session && req.session.settings.platform === 'player') { %>
      <p class="navbar-text"><%= __('Private party key') %>: <span class="label label-primary"><%= req.session.settings.key %></span></p>

      <p class="navbar-text"><%= __('Tracks') %>: <span class="label label-primary track-count"></span></p>

      <div class="collapse navbar-collapse" id="qr-code">
        <ul class="nav navbar-nav navbar-right">
          <li id="fat-menu" class="dropdown open">
            <a href="#" id="drop3" role="button" class="dropdown-toggle" data-toggle="dropdown"><%= __('QR code') %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="drop3">
              <li role="presentation"><img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=http://<%= req.session.settings.host %><%= req.session.settings.port %>?join=<%= req.session.settings.key %>" /></li>
            </ul>
          </li>
        </ul>
      </div>
    <% } %>

  </div>
</nav>